<table border="1" align="center">
    <caption>List of Articles</caption>
    <tr>
        <td>Title</td>
        <td>Content</td>
        <td>Attachment</td>
        <td>Created At</td>
        <td>Updated At</td>
        <td>Actions</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>

    {% for i in data %}
    <tr>
        <td>{{ i.titre }}</td>
        <td>{{ i.contenu|truncatewords:20 }}</td> <!-- Limite le contenu affiché à 20 mots -->
        <td>
            {% if i.piece_jointe %}
                {{ i.piece_jointe.name }}  <!-- Affiche le nom du fichier de la pièce jointe -->
            {% else %}
                No Attachment
            {% endif %}
        </td>
        <td>{{ i.created_at }}</td>
        <td>{{ i.updated_at }}</td>
       
        <td><a href="{% url 'detailsClass'  i.id   %}">Details</a></td> 
         <td><a href="{% url 'updateArticle' i.id %}"> Update</a></td>
         <td><a href="{% url 'deleteArticle' i.id %}"> Delete</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'add' %}"> Add Article</a>