<!--
=========================================================
* Soft UI Design System 3 PRO - v1.2.0
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-design-system-pro 
* Copyright 2024 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
{% load static %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>
        Dishboard - Sign Up
    </title>
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/soft-ui-design-system-pro" />
    <!--  Social tags      -->
    <meta name="keywords"
        content="bootstrap, bootstrap 5, bootstrap5, ui kit, design system, responsive design, web design ui, ui design system, soft ui kit, soft ui design system">
    <meta name="description"
        content="Most complex and innovative Design System Made by Creative Tim. Check our latest Premium Bootstrap 5 UI Kit.">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Soft UI Design System 3 Pro by Creative Tim">
    <meta name="twitter:description"
        content="Most complex and innovative Design System Made by Creative Tim. Check our latest Premium Bootstrap 5 UI Kit.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image"
        content="https://s3.amazonaws.com/creativetim_bucket/products/414/thumb/opt_sds_thumbnail.png">
    <!-- Open Graph data -->
    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Soft UI Design System 3 Pro by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demos.creative-tim.com/soft-ui-design-system-pro/presentation.html" />
    <meta property="og:image"
        content="https://s3.amazonaws.com/creativetim_bucket/products/414/thumb/opt_sds_thumbnail.png" />
    <meta property="og:description"
        content="Most complex and innovative Design System Made by Creative Tim. Check our latest Premium Bootstrap 5 UI Kit." />
    <meta property="og:site_name" content="Creative Tim" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="https://demos.creative-tim.com/argon-dashboard-pro/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/argon-dashboard-pro/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script type="text/javascript"
        src="/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=mjcndshx5ep_mP0Pj5pycHgeVNBgk2lKT0_Zsfkrxon2qJVtcWYiWKoX2I4MnoMXNstdSZt2_gozmI5sQbUvYViMaacPpQBhCVYcUS75PgYsnnk-XjCFDimViFE0SqgBB6Klk-tRNxIJAcc8gdsSZ09RX6jo4B03Dr3Dh1QEOk0"
        charset="UTF-8"></script>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'css/soft-design-system-pro.min.css' %}?v=1.2.0" rel="stylesheet" />
    <!-- Anti-flicker snippet (recommended)  -->
    <style>
        .async-hide {
            opacity: 0 !important
        }
    </style>
    <script>
        (function (a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function () {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function () {
                i();
                h.end = null
            }, c);
            h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
            'GTM-K9BGS8K': true
        });
    </script>
    <!-- Analytics-Optimize Snippet -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-46172202-22', 'auto', {
            allowLinker: true
        });
        ga('set', 'anonymizeIp', true);
        ga('require', 'GTM-K9BGS8K');
        ga('require', 'displayfeatures');
        ga('require', 'linker');
        ga('linker:autoLink', ["2checkout.com", "avangate.com"]);
    </script>
    <!-- end Analytics-Optimize Snippet -->
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="demos.creative-tim.com" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="sign-up-illustration">
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Navbar -->
    {% include 'navbar.html' %}
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h4 class="font-weight-bolder">Sign Up</h4>
                                <p class="mb-0">Hurry and sign up, it's free!</p>
                            </div>
                            <div class="card-body pb-3">

                                <form method="post">
                                    {% csrf_token %}
                                    <!-- User Type Selection 
                                    <label>User Type</label>
                                    <div class="mb-3">
                                        <select id="user-type" name="user_type" class="form-control" required
                                            onchange="showFormFields()">
                                            <option value="client">Client</option>
                                            <option value="provider">Provider</option>
                                            <option value="professional">Professional</option>
                                        </select>
                                    </div>-->

                                    <!-- Common Fields -->
                                    <label>First Name</label>
                                    <div class="mb-3">
                                        <input type="text" name="first_name" class="form-control"
                                            placeholder="First Name" required>
                                    </div>

                                    <label>Last Name</label>
                                    <div class="mb-3">
                                        <input type="text" name="last_name" class="form-control" placeholder="Last Name"
                                            required>
                                    </div>

                                    <label>Username</label>
                                    <div class="mb-3">
                                        <input type="text" name="username" class="form-control" placeholder="Username"
                                            required>
                                    </div>

                                    <label>Email</label>
                                    <div class="mb-3">
                                        <input type="email" name="email" class="form-control" placeholder="Email"
                                            required>
                                    </div>

                                    <label>Password</label>
                                        <div class="mb-3">
                                            <input type="password" name="password1" class="form-control"
                                                placeholder="Password" required>
                                        </div>

                                        <label>Confirm Password</label>
                                        <div class="mb-3">
                                            <input type="password" name="password2" class="form-control"
                                                placeholder="Confirm Password" required>
                                        </div>

                                    <label for="age">Age:</label>
                                    <div class="mb-3">
                                        <input type="number" id="age" name="age" class="form-control" placeholder="Age"
                                            required>
                                    </div>

                                    <label for="gender">Gender:</label>
                                    <div class="mb-3">
                                        <select id="gender" name="gender" class="form-control" required>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <label for="address">Address:</label>
                                    <div class="mb-3">
                                        <input type="text" id="address" name="address" class="form-control"
                                            placeholder="Enter your address">
                                    </div>

                                    <label for="phone">Phone:</label>
                                    <div class="mb-3">
                                        <input type="tel" id="phone" name="phone" class="form-control"
                                            placeholder="Enter your phone number">
                                    </div>

                                    <!-- Client-specific Fields 
                                    <div id="client-fields" style="display: none;" >
                                        <label>Weight</label>
                                        <div class="mb-3">
                                            <input type="number" step="any" name="weight" class="form-control"
                                                placeholder="Weight">
                                        </div>

                                        <label>Height</label>
                                        <div class="mb-3">
                                            <input type="number" step="any" name="height" class="form-control"
                                                placeholder="Height">
                                        </div>

                                        <label>BMI</label>
                                        <div class="mb-3">
                                            <input type="number" step="any" name="bmi" class="form-control"
                                                placeholder="BMI">
                                        </div>
                                    </div>-->

                                    <!-- Provider-specific Fields 
                                    <div id="provider-fields" style="display: none;">
                                        <label>Company Name</label>
                                        <div class="mb-3">
                                            <input type="text" name="company_name" class="form-control"
                                                placeholder="Company Name">
                                        </div>

                                        <label>Tax Code</label>
                                        <div class="mb-3">
                                            <input type="text" name="tax_code" class="form-control"
                                                placeholder="Tax Code">
                                        </div>
                                    </div>-->


                                    <div id="professional-fields">
                                        <label>Years of Experience</label>
                                        <div class="mb-3">
                                            <input type="number" name="years_of_experience" class="form-control"
                                                placeholder="Years of Experience">
                                        </div>

                                        <label>Diploma</label>
                                        <div class="mb-3">
                                            <input type="text" name="diploma" class="form-control"
                                                placeholder="Diploma">
                                        </div>

                                        <label>CIN</label>
                                        <div class="mb-3">
                                            <input type="text" name="cin" class="form-control" placeholder="CIN">
                                        </div>

                                        <label>Matricule</label>
                                        <div class="mb-3">
                                            <input type="text" name="matricule" class="form-control"
                                                placeholder="Matricule">
                                        </div>
                                    </div>

                                    <!-- Terms and Conditions -->
                                    <div class="form-check form-check-info text-left">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                            required>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            I agree to the <a href="../../pages/privacy.html"
                                                class="text-dark font-weight-bolder">Terms and Conditions</a>
                                        </label>
                                    </div>

                                    <!-- Submit Button -->
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-gradient-primary w-100 mt-4 mb-0">Sign
                                            up</button>
                                    </div>
                                </form>

                            </div>
                            <div class="card-footer text-center pt-0 px-sm-4 px-1">
                                <p class="mb-4 mx-auto">
                                    Already have an account?
                                    <a href="../../pages/sign-in/sign-in-cover.html"
                                        class="text-primary text-gradient font-weight-bold">Sign in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                        <div
                            class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
                            <img src="{% static 'img/shapes/pattern-lines.svg' %}" alt="pattern-lines"
                                class="position-absolute opacity-4 start-0">
                            <div class="position-relative">
                                <img class="max-width-500 w-100 position-relative z-index-2"
                                    src="{% static 'img/illustrations/rocket-white.png' %}" alt="image">
                            </div>
                            <h4 class="mt-5 text-white font-weight-bolder">Your journey starts here</h4>
                            <p class="text-white">Just as it takes a company to sustain a product, it takes a community
                                to
                                sustain a protocol.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript to Show/Hide Form Fields Based on User Type 
    <script>
        function showFormFields() {
            const userType = document.getElementById("user-type").value;

            // Hide all specific fields initially
            document.getElementById("client-fields").style.display = "none";
            document.getElementById("provider-fields").style.display = "none";
            document.getElementById("professional-fields").style.display = "none";

            // Show fields based on selected user type
            if (userType === "client") {
                document.getElementById("client-fields").style.display = "block";
            } else if (userType === "provider") {
                document.getElementById("provider-fields").style.display = "block";
            } else if (userType === "professional") {
                document.getElementById("professional-fields").style.display = "block";
            }
        }
    </script>-->

    <!--   Core JS Files   -->
    <script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
    <!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
    <script src="{% static 'js/plugins/typedjs.js' %}"></script>
    <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
    <script src="{% static 'js/plugins/parallax.min.js' %}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static 'js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
    <!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
    <script src="{% static 'js/plugins/glidejs.min.js' %}" type="text/javascript"></script>
    <!--  Plugin for the blob animation -->
    <script src="{% static 'js/plugins/anime.min.js' %}" type="text/javascript"></script>
    <!-- Chart JS -->
    <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
    <!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="{% static 'js/soft-design-system-pro.min.js' %}?v=1.2.0" type="text/javascript"></script>
    <script>
    </script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon='{"rayId":"8df053915eb6777c","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2024.10.4","token":"1b7cbb72744b40c580f8633c6b62637e"}'
        crossorigin="anonymous"></script>
</body>

</html>